* {
  font-family: monospace;
}

body {
  margin: 0;
}

.title {
  margin: 10vh 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 10vh; */
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-btn {
  width: 75vw;
  height: 50vw;
  border: none;
  background-color: #80808021;
  border-radius: 1rem;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.action-btn > .btn-subtext {
  display: block;
  font-size: 1.25rem;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0rem;
}
